*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.card{
    border: 15x solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 500px;
    height: 500px;
  
}
.card img{
    max-width: 100%;
    min-width: 200px;
}
h1{
    padding: 2px;
    
}
p{
    padding: 2px;
}