*{

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: teal;
}
h1{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
p{
    font-size: 17px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
}
img{
    height: 300px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
}